<a-scene
  vr-mode-ui="enabled: false"
  embedded
  arjs="sourceType: webcam; gpsMinAccuracy: 100; debugUIEnabled: false;"
  renderer="logarithmicDepthBuffer: true;"
>
  <!-- Càmera amb GPS -->
  <a-camera gps-camera rotation-reader></a-camera>

  <!-- Punt Nord -->
  <a-box
    gps-entity-place="latitude: 41.394768; longitude: 2.190428"
    color="red"
    scale="2 2 2"
    position="0 1 0"
  ></a-box>

  <!-- Punt Sud -->
  <a-box
    gps-entity-place="latitude: 41.384768; longitude: 2.190428"
    color="blue"
    scale="2 2 2"
    position="0 1 0"
  ></a-box>

  <!-- Punt Est -->
  <a-box
    gps-entity-place="latitude: 41.389768; longitude: 2.195428"
    color="green"
    scale="2 2 2"
    position="0 1 0"
  ></a-box>

  <!-- Punt Oest -->
  <a-box
    gps-entity-place="latitude: 41.389768; longitude: 2.185428"
    color="yellow"
    scale="2 2 2"
    position="0 1 0"
  ></a-box>
</a-scene>

