<a-scene
  embedded
  arjs="sourceType: webcam; gpsMinAccuracy: 100; debugUIEnabled: true"
  vr-mode-ui="enabled: false"
  renderer="logarithmicDepthBuffer: true;"
  device-orientation-permission-ui="enabled: true"
  style="height: 100vh; width: 100vw;"
  (click)="placeObject($event)"
>
  <!-- Exemple d’un objecte GPS -->
  <a-box
    gps-entity-place="latitude: 41.0790405; longitude: 1.1496969"
    material="color: gold;"
    scale="2 2 2"

  ></a-box>
  <a-box
    gps-entity-place="latitude: 41.0790405; longitude: 1.1496969"
    material="color: red;"
    scale="0.1 0.1 0.1"

  ></a-box>
  <a-camera id="camera" gps-camera rotation-reader></a-camera>
<!--  <a-entity camera gps-camera rotation-reader id="camera"></a-entity>-->
  <a-entity id="objects-container"></a-entity>

  <a-text
    value="Esperant posició GPS..."
    id="gps-text"
    position="0 2 -5"
    look-at="[gps-camera]"
    scale="5 5 5"
  ></a-text>

</a-scene>
